<style>
      body {
        margin: 0;
      }
      /* Header */
      header img {
        width: 360px;
      }
      /* Nav */
      nav {
        background-color: #c72d82;
        text-align: center;
        padding-top: 16px;
        padding-bottom: 16px;
      }
      nav a {
        color: white;
        text-decoration: none;
      }
      /* Main */
      h2 {
        color: #41a4dd;
      }
      article img {
        width: 240px;
      }
      article button {
        font-weight: bolder;
        background-color: #41a4dd;
        color: white;
        border-color: #41a4dd;
        padding: 4px 16px;
      }
      aside a {
        color: #41a4dd;
        text-decoration: none;
      }
      ul {
        list-style-type: none;
        padding-left: 8px;
      }
      /* Footer */
      footer > section {
        background-color: #c72d82;
      }
      footer > div {
        background-color: #9c2467;
        color: white;
        text-align: center;
        font-size: 12px;
        padding: 16px 0;
      }
    </style>